@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  color: $text-color-white;
  background: $bg-primary;
  padding: 1rem;
  overflow: hidden;
}

.container {
  background: $bg-secondary;
  max-width: 1280px;
  height: calc(100vh - 2rem);
  border-radius: 1rem;
  box-shadow: $shadow;
  display: flex;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: 768px) {
    padding: 0 0 2rem 0;
  }
}

.container-con {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 2rem;

  @media screen and (max-width: 768px) {
    padding: 0 0 2rem 0;
  }
}

li {
  list-style: none;
}

a {
  color: $text-color-white;
  text-decoration: none;
}

::placeholder {
  color: $text-color-grey-form;
}

input,
textarea {
  color: $text-color-white;
}

select {
  background: $bg-primary;
  color: $text-color-white;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

select:hover {
  outline: none;
  border: none;
  background-color: $bg-cuaternary;
}

.botones {
  text-align: center;

  &__span {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
