.formulario__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formulario__consultar {
  font-size: 1rem;
  color: $text-color-grey-form;
  width: 100%;
  padding: 1rem;
  background: $bg-tersary;
  border-radius: 0.5rem;

  & h1 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: $text-color-white;
  }
}

.formulario__identificacion,
.formulario__btn {
  margin-top: 1rem;
}

.resultado {
  background: $bg-tersary;
  text-align: left;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;

  &__consulta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    & tr {
      display: flex;
      gap: 1rem;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid $bg-quintary;
  padding: 8px;
  text-align: left;
}

th {
  background-color: $bg-secondary;
}
