.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid $bg-cuaternary;
  padding: 1rem;

  &__logo {
    width: 100%;
    display: grid;
    place-items: center;

    & img {
      width: 70%;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    height: 50vh;

    &-li {
      & > a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.4rem;
        padding: 1rem;
        border-radius: 1rem;
        color: $text-color-grey;
        transition: all 300ms ease;

        &:hover {
          background-color: $bg-tersary;
          color: $text-color-white;
        }

        & > i {
          font-size: 1.5rem;
        }
      }
    }
  }

  &__exit {
    & > a {
      width: max-content;
      padding: 0 1rem;
      color: $text-color-grey;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.4rem;
      transition: all 300ms ease;

      &:hover {
        color: $text-color-white;
      }

      & > i {
        font-size: 1.5rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    position: absolute;
    height: 5rem;
    flex-direction: row;
    align-items: center;
    background: $bg-cuaternary;
    width: calc(100% - 2rem);
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    border-radius: .5rem;

    &__logo {
      width: 3rem;
      & img {
        height: 100%;
        width: 100%;
      }
    }

    &__menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: .5rem;
      height: 100%;
      font-size: .7rem;
  
      &-li {
        & > a {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.2rem;
          padding: .5rem;
          border-radius: 1rem;
          background-color: $bg-tersary;
          color: $text-color-white;
          
          &:hover {
            background-color: none;
            color: none;
          }
  
          & > i {
            font-size: 1.2rem;
          }
        }
      }
    }

    &__exit {
      & > a {
        padding: 0;
        color: $text-color-white;
  
        & > i {
          font-size: 2rem;
        }
      }
    }
  }
}
