$bg-primary: #22252d;
$bg-secondary: #292c34;
$bg-tersary: #30353e;
$bg-cuaternary: #383d49;
$bg-quintary: #3c414d;
$color-purple: #9750c5;
$text-color-white: #eeecf0;
$text-color-grey: #a8a7aa;
$text-color-grey-form: #a8a7aa;
$shadow: 0 0 0.1rem 0.1rem $bg-secondary;
$color-btn: #22252d;
$fontsize: 1rem;

/* 
$bg-primary: #22252d;
$bg-secondary: #292c34;
$bg-tersary: #146caf;
$bg-cuaternary: #383d49;
$bg-quintary: #3c414d;
$color-purple: #9750c5;
$text-color-white: #eeecf0;
$text-color-grey: #a8a7aa;
$text-color-grey-form: #ffffff;
$shadow: 0 0 0.1rem 0.1rem $bg-secondary;
$color-btn: #ffffff;
*/
/* 
$bg-primary: #0f52a9;
$bg-secondary: #0e2e5d;
$bg-tersary: #0f52a9;
$bg-cuaternary: #111111;
$bg-quintary: #3c414d;
$color-purple: #9750c5;
$text-color-white: #eeecf0;
$text-color-grey: #a8a7aa;
$text-color-grey-form: #ffffff;
$shadow: 0 0 0.1rem 0.1rem $bg-secondary;
$color-btn: #ffffff;
 */

// $bg-primary: linear-gradient(
//   90deg,
//   #146caf 0%,
//   #648f93 41%,
//   #ecae06 70%,
//   #ecae06 100%
// );
// $bg-secondary: #146caf;
// $bg-tersary: #ecae06;
// $bg-cuaternary: #ecae06;
// $bg-quintary: #3c414d;
// $color-purple: #9750c5;
// $text-color-white: #eeecf0;
// $text-color-grey: #fff;
// $text-color-grey-form: #ffffff;
// $shadow: 0 0 .2rem  $text-color-white;
// $color-btn: #ffffff;

/* 
$bg-primary: #888888;
$bg-secondary: #146caf;
$bg-tersary: #fff;
$bg-cuaternary: #383d49;
$bg-quintary: #3c414d;
$color-purple: #9750c5;
$text-color-white: #000;
$text-color-grey: #fff;
$text-color-grey-form: #000000;
$shadow: 0 0 0.1rem 0.1rem $bg-secondary;
$color-btn: #22252d;
 */
